<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          th:href="@{/materialize/css/materialize.min.css}"
          media="screen,projection" />
    <title>Document</title>
  </head>

  <body class="grey lighten-3">
    <h1 class="main-title center">Bem vindo ao Sistema Escolalura</h1>

    <div class="row center">
      <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/alunos/novo">
          <div class="card-panel hoverable z-depth-1 center grey lighten-4">
            <i class="large material-icons">perm_identity</i>
            <div class="trucante">Cadastrar Alunos</div>
          </div>
        </a>
      </div>
      <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/alunos">
          <div class="card-panel hoverable z-depth-1 center grey lighten-4">
            <i class="large material-icons ">search</i>
            <div class="truncate">Listar Alunos</div>
          </div>
        </a>
      </div>
      <div class="col s12 m4 l4  waves-effect waves-light ">
        <a href="/alunos/pesquisar-nome">
          <div class="card-panel hoverable z-depth-1 center grey lighten-4">
            <i class="large material-icons ">search</i>
            <div class="truncate">Pesquisar por Nome</div>
          </div>
        </a>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript"
            th:src="@{/materialize/js/materialize.min.js}"></script>
  </body>

</html>
