<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet"
          th:href="@{/materialize/css/materialize.min.css}"
          media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <title>Escolalura</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script
            src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          rel="stylesheet">
    <link th:href="@{/css/locatorplus.css}" rel="stylesheet">
    <script th:src="@{/js/locatorplus.js}"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var alunosProximos = [[${ alunosProximos }]];
      /*]]*/
    </script>
    <script>
      if (alunosProximos != null) {
        var locations = alunosProximos.map(function (aluno) {
          return {
            "coords": {
              "lat": aluno.contato.coordinates[0],
              "lng": aluno.contato.coordinates[1]
            },
            "title": aluno.nome
          };
        });
      }

      const CONFIGURATION = {
        "locations": locations,
        "mapOptions": { "center": { "lat": -14.239183, "lng": -51.913726 }, "fullscreenControl": true, "mapTypeControl": false, "streetViewControl": false, "zoom": 4, "zoomControl": true, "maxZoom": 17 },
        "mapsApiKey": "AIzaSyCOdplkllfJTzoC37shReWBSDW3xKKR8UI",
        "capabilities": { "input": true, "autocomplete": false, "directions": false, "distanceMatrix": false, "details": false, "actions": false }
      };

      function initMap() {
        new LocatorPlus(CONFIGURATION);
      }
    </script>
  </head>

  <body class="grey lighten-3">
    <div id="formularioGeolocalizacao" class="container">
      <h3 class="main-title center">Visualizar Aluno</h3>
      <form class="col s12" action="/alunos/pesquisar-geolocalizacao"
            method="get">
        <div class="row">
          <div class="input-field col s12">
            <select name="alunoId" id="alunoId">
              <option th:each="aluno : ${alunos}" th:value="${aluno.id}"
                      th:text="${aluno.nome}">Nome do Aluno</option>
            </select> <label for="aluno">Alunos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light"
                    type="submit">Pesquisar</button>
          </div>
        </div>
        <div th:if="${alunosProximos} != null" class="row">
          <div id="map-container">
            <div id="gmp-map" class="mapa"></div>
          </div>
        </div>
      </form>
      <script th:if="${alunosProximos} != null"
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOdplkllfJTzoC37shReWBSDW3xKKR8UI&amp;callback=initMap&amp;libraries=places,geometry&amp;solution_channel=GMP_QB_locatorplus_v6_cA"
              async="async" defer="defer"></script>

      <script type="text/javascript">
        $(document).ready(function () {
          $('select').formSelect();
        });
      </script>
    </div>
    <script type="text/javascript"
            th:src="@{/materialize/js/materialize.min.js}"></script>
  </body>

</html>
